/* css */
* {
  color: #333;
}

/* 横幅最大1000px */
.completion_form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.massage__title {
  color: #0892d8;
  font-size: 2em;
}
@media (max-width: 640px) {
  .massage__title {
    font-size: 24px;
  }
}

.massage__title {
  margin: 20px auto;
}

/* お申込み内容 */
.confirmation {
  background-color: #e5edf2;
  padding: 1% 2%;
  margin: 30px auto;
}

.confirmation__title {
  margin: 0;
  height: auto;
  width: auto;
  text-indent: 0;
  font-size: 1.6em;
}
@media (max-width: 640px) {
  .confirmation__title {
    font-size: 20px;
  }
}

.confirmation__seminar-title {
  font-weight: bold;
  margin-top: 2%;
}
@media (max-width: 640px) {
  .confirmation__seminar-title {
    margin-top: 5%;
  }
}

.confirmation__seminar-title::before {
  display: inline-block;
  content: "◆";
  color: #0892d8;
  margin-right: 0.3em;
}

.confirmation__participant {
  font-weight: bold;
}