/* 共通項目 */
* {
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  input[type="radio"] {
    margin-right: 0.3em;
  }
  
  .radio-previous {
    margin-right: 0.5em;
  }
  
  /* フォーム全体 */
  .validationForm {
    max-width: 1000px;
    margin: 0 auto 30px;
    padding: 0 10px;
  }
  
  @media (max-width: 640px) {
    .validationForm {
      max-width: 100%;
      width: 100%;
    }
  }
  
  /* 『お申込み』フォーム画像 */
  .form-title {
    max-width: 1000px;
    margin: 0 auto 2%;
    padding: 0 10px;
    background-image: url(../img/application_pagettl.png);
    background-repeat: no-repeat;
  }
  /* 『お申込みフォーム』文字 */
  h2 {
    width: 980px;
    height: 60px;
    text-indent: -9999px;
  }
  
  /* セミナータイトル枠　背景色を#E5EDF2(薄いブルー)にする */
  .seminar__list {
    background-color: #e5edf2;
    padding: 1%;
  }
  
  /* セミナータイトルを縦並びにする */
  .seminar__item {
    display: block;
    width: 590px;
    padding: 0.5% 1%;
    margin: 1% 0;
    background: #fff;
  }
  
  @media (max-width: 640px) {
    .seminar__item {
      width: 95%;
      margin: 1% auto;
    }
  }
  
  /* セミナー選ぶと参加方法とテキスト部数欄が表示される */
  /* チェック非表示OFF */
  input[type="checkbox"] {
    margin-right: 0.6em;
  }
  .seminar-item__entry-metod,
  .seminar-item__seminar-text {
    display: none;
  }
  /* チェックON表示 */
  input:checked ~ .seminar-item__entry-metod,
  input:checked ~ .seminar-item__seminar-text {
    display: block;
  }
  
  .seminar-item__entry-metod {
    margin-left: 21px;
  }
  
  .seminar-item__entry-metod .radio-previous {
    margin-left: 1em;
  }
  
  .seminar-item__seminar-text {
    margin-left: 21px;
  }
  
  .input__seminar-text {
    margin-left: 1em;
    margin-right: 0.3em;
  }
  
  /* 『タイトル名（複数選択可）』を太文字にする */
  .item__title,
  dl > label,
  dt > label,
  .label {
    font-weight: bold;
  }
  
  /* 『＊必須』文字 */
  .required-text {
    color: #f00;
    font-weight: bold;
  }
  .error-php {
    color: #f00;
  }
  
  /* 余白調整 */
  dl {
    padding-bottom: 2%;
  }
  
  .info__common {
    background-color: #e5edf2;
    margin-top: 10px;
    padding: 1.5% 1%;
  }
  
  .participant_info {
    position: relative;
    background-color: #e5edf2;
    margin-bottom: 1%;
    padding: 0% 1%;
  }
  
  #add_participantArea > .participant_info{  
    padding: 1.5% 1%;
  }
  
  /* 『参加人数を追加する』ボタン */
  .addition_button span {
    font-weight: bold;
    letter-spacing: 0.05em;
    vertical-align: middle;
  }
  .addition_button img {
    vertical-align: middle;
  }
  .addition_button {
    position: relative;
    cursor: pointer;
  }
  .position {
    position: absolute;
    bottom: 20px;
    left: 390px;
  }
  
  @media (max-width: 640px) {
    .position {
      margin: auto;
      margin-top: -5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  /* 参加者削除ボタン */
  .off {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 3px;
  }
  .off img {
    width: 70%;
  }
  
  /* 『お問合せフォーム』 */
  .contact_detail {
    background-color: #e5edf2;
    margin-top: 10px;
    padding: 1%;
  }
  
  textarea {
    width: 100%;
  }
  
  /* お申し込みフォーム全体 */
  .block {
    background: #fff;
    display: block;
    margin: 0px 0px 60px;
    padding: 0px 0px 10px;
    overflow: hidden;
    clear: both;
    border-bottom: 1px dotted #ccc;
  }
  
  /* 送信ボタン */
  .btn-primary {
    margin: 20px auto 0;
    display: block;
    width: 120px;
    height: 120px;
    background-color: #e20001;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #e34546;
  }
  
  /* 以下よりレスポンシブ対応 */
  @media (max-width: 640px) {
    h2 {
      width: 100%;
      height: 100%;
      margin: 0px 0px 10px 0px;
      text-indent: 0px;
      background: #fff url(none) !important;
      font-size: 140%;
      font-weight: bold;
      color: #333333;
    }
    .block {
      margin: 0px 0px 30px;
    }
    .position {
      position: static;
      margin-left: 43%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .entrant {
      padding: 1.5% 1.5% 1% 1%;
    }
    .message {
      padding-right: 1.5%;
    }
    .addition_button {
      background-color: #e5edf2;
    }
    .off {
      top: 2px;
      right: -1px;
    }
  }
  